<div class="card" *ngIf="order">
  <div class="card-body">
    <div class="container-fluid mb-5 mt-3">
      <div class="row d-flex align-items-baseline">
        <div class="col-xl-9">
          <p style="color: #7e8d9f;font-size: 20px;">Invoice &gt;&gt; <strong>ID:
            #{{order.id | number:'1.0':'en-US'}}</strong></p>
        </div>
      </div>
      <div class="container-fluid">
        <div class="col-md-12">
          <div class="text-center">
            <i class="far fa-building fa-4x ms-0" style="color:#8f8061 ;"></i>
            <p class="pt-2">BookStore</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-7">
            <ul class="list-unstyled">
              <li class="text-muted">To: <span
                style="color:#8f8061 ;">{{order.orderedByUser.firstName}} {{order.orderedByUser.lastName}}</span></li>
              <li class="text-muted">{{order.userAddress.street}}</li>
              <li class="text-muted">{{order.userAddress.province}}, {{order.userAddress.city}}
                -{{order.userAddress.zipCode}}</li>
              <li class="text-muted"><i class="fas fa-phone"></i> {{order.orderedByUser.phoneNumber}}</li>
            </ul>
          </div>
          <div class="col-xl-5">
            <p class="text-muted">Invoice</p>
            <ul class="list-unstyled">
              <li class="text-muted"><i class="fas fa-circle" style="color:#8f8061 ;"></i> <span
                class="fw-bold">ID:</span>#{{order.id}}
              </li>
              <li class="text-muted"><i class="fas fa-circle" style="color:#8f8061 ;"></i> <span
                class="fw-bold">Creation Date: </span>{{order.orderDate | date: 'longDate'}}
              </li>
            </ul>
          </div>
        </div>
        <hr class="hr hr-blurry">
        <div *ngFor="let book of order.orderedBooks" class="row my-2 mx-1 mb-5 justify-content-center">
          <div class="col-md-2 mb-4 mb-md-0">
            <div class="
                        bg-image
                        ripple
                        rounded-5
                        mb-4
                        overflow-hidden
                        d-block
                        " data-ripple-color="light">
              <img
                src="{{book.bookDetails.pictureUrl || 'https://plus.unsplash.com/premium_photo-1677151193419-9be7a26c02cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Ym9va3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60'}}"
                class="w-100" height="100px" alt="Elegant shoes and shirt"/>
              <a [routerLink]="'/books/' + book.bookDetails.bookId">
                <div class="hover-overlay">
                  <div class="mask" style="background-color: hsla(0, 0%, 98.4%, 0.2)"></div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-7 mb-4 mb-md-0">

            <p class="fw-bold mb-1">{{book.bookDetails.bookName}}</p>
            <p class="mb-1">
              <span class="text-muted me-2">Author:</span><span>{{book.bookDetails.author}}</span>
            </p>
            <p class="mb-1">
              <span class="text-muted me-2">Type:</span><span>{{book.bookDetails.bookType}}</span>
            </p>
            <p class="mb-1">
              <span class="text-muted me-1">Quantity:</span><span class="me-2">{{book.quantity}},</span> <span
              class="text-muted me-2">Unit Price:</span><span>BDT {{book.price | number:'1.0':'en-US'}}</span>
            </p>
          </div>
          <div class="col-md-3 mb-4 mb-md-0">
            <h5 class="mb-2">
              <span
                class="align-middle">BDT {{(book.price * book.quantity) | number:'1.0':'en-US'}}</span>
            </h5>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xl-8">
            <p class="ms-3">Total Amount:</p>
          </div>
          <div class="col-xl-3">
            <ul class="list-unstyled">
              <li class="text-muted ms-5"><span
                class="text-black text-center">BDT {{getOrderTotal() | number:'1.0':'en-US'}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
