<div class="container">
  <p class="display-5  text-center">Your Cart</p>
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
    <tr>
      <th class="text-center">Book Name</th>
      <th class="">Type</th>
      <th class="">Quantity</th>
      <th class="">Unit Price</th>
      <th class="">Total</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of cartItems">
      <td>
        <div class="d-flex align-items-center">
          <img
            [src]="item.pictureUrl"
            alt=""
            style="width: 45px; height: 45px"
            class="rounded-circle"
          />
          <div class="ms-3">
            <a routerLink="/books/{{item.id}}" class="fw-normal fs-6 mb-1 link">{{item.name}}</a>
          </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mb-1 fs-6">{{item.type}}</p>
      </td>
      <td>

        <button (click)="onDecrementItemQuantity(item)" type="button"
                class="btn btn-primary btn-sm btn-dark btn-floating"
                mdbRipple>
          <i class="fas fa-angle-down"></i>
        </button>
        <span class="mx-2 fs-6 ">{{item.quantity}}</span>
        <button (click)="onIncrementItemQuantity(item)" type="button"
                class="btn btn-primary btn-sm btn-dark btn-floating" mdbRipple>
          <i class="fas fa-angle-up"></i>
        </button>
      </td>
      <td>
        <p class="fw-normal mb-1 fs-6">{{item.unitPrice}}</p>
      </td>
      <td>
        <p class="fw-normal mb-1 fs-6">{{item.unitPrice * item.quantity}}</p>
      </td>
      <td>
        <p (click)="removeCartItem(item)" class="fw-normal mb-1 btn-close"></p>
      </td>
    </tr>
    <tr>
      <td colspan="4"><p class="fw-normal mb-1 fs-6">Total Amount:</p></td>
      <td><p class="fw-normal mb-1 fs-6">{{getCartTotal()}}</p></td>
    </tr>
    </tbody>
  </table>

</div>
