<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100" routerLink="createBook">
        <img
          class="card-img-top"
          src="https://images.unsplash.com/photo-1483546363825-7ebf25fb7513?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTV8fGFkZCUyMGJvb2t8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
        />
        <div class="card-body text-center">
          <h5 class="card-title">Add New Book</h5>
          <p class="card-text">Click to add new books to store</p>
        </div>
      </div>
    </div>
    <div class="col" routerLink="editBook">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="https://images.unsplash.com/photo-1515125520141-3e3b67bc0a88?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTB8fGFkZCUyMGJvb2t8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
        />
        <div class="card-body text-center">
          <h5 class="card-title">Update/Delete Books</h5>
          <p class="card-text">
            Click to edit details, price, quantity etc of books in the store
          </p>
        </div>
      </div>
    </div>

    <div class="col" routerLink="store-manager/categories">
      <div class="card h-100">
        <img
          alt="Los Angeles Skyscrapers"
          class="card-img-top"
          src="https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGJvb2slMjBjYXRlZ29yeXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"
        />
        <div class="card-body text-center">
          <h5 class="card-title">Manage Categories</h5>
          <p class="card-text">Add new Category or Subcategory</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          alt="Skyscrapers"
          class="card-img-top"
          src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          alt="Skyscrapers"
          class="card-img-top"
          src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
