<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" routerLink="store-manager/create-book">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="https://images.unsplash.com/photo-1483546363825-7ebf25fb7513?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTV8fGFkZCUyMGJvb2t8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
        />
        <div class="card-body text-center">
          <h5 class="card-title">Add New Book</h5>
          <p class="card-text">Click to add new books to store</p>
        </div>
      </div>
    </div>

    <div class="col" routerLink="store-manager/book-list">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="https://images.unsplash.com/photo-1515125520141-3e3b67bc0a88?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTB8fGFkZCUyMGJvb2t8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
        />
        <div class="card-body text-center">
          <h5 class="card-title">Update/Delete Books</h5>
          <p class="card-text">
            Click to edit details, price, quantity etc of books in the store
          </p>
        </div>
      </div>
    </div>

    <div class="col" routerLink="store-manager/categories">
      <div class="card h-100">
        <img
          alt="Los Angeles Skyscrapers"
          class="card-img-top"
          src="https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGJvb2slMjBjYXRlZ29yeXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"
        />
        <div class="card-body text-center">
          <h5 class="card-title">Manage Categories</h5>
          <p class="card-text">Add new Category or Subcategory</p>
        </div>
      </div>
    </div>


    <div class="col" routerLink="store-manager/create-author">
      <div class="card h-100">
        <img
          alt="Skyscrapers"
          class="card-img-top"
          src="https://images.unsplash.com/photo-1455390582262-044cdead277a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YXV0aG9yfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
        />
        <div class="card-body text-center">
          <h5 class="card-title">Create New Author</h5>
          <p class="card-text">Add new Author to Author List</p>
        </div>
      </div>
    </div>
    <div class="col" routerLink="store-manager/author-list">
      <div class="card h-100">
        <img
          alt="Skyscrapers"
          class="card-img-top"
          src="https://images.unsplash.com/photo-1505682634904-d7c8d95cdc50?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8YXV0aG9yfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
        />
        <div class="card-body text-center">
          <h5 class="card-title">Edit or Delete Authors</h5>
          <p class="card-text">Edit or Delete Authors from List</p>
        </div>
      </div>
    </div>

    <div class="col" routerLink="store-manager/create-publisher">
      <div class="card h-100">
        <img
          alt="Skyscrapers"
          class="card-img-top"
          src="https://images.unsplash.com/photo-1554357395-dbdc356ca5da?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cHVibGlzaGVyfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
        />
        <div class="card-body text-center">
          <h5 class="card-title">Create Publisher</h5>
          <p class="card-text">Create a new Publisher</p>
        </div>
      </div>
    </div>

    <div class="col" routerLink="store-manager/publisher-list">
      <div class="card h-100">
        <img
          alt="Skyscrapers"
          class="card-img-top"
          src="https://images.unsplash.com/photo-1575385151519-05e02c4f734f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cHVibGlzaGVyfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
        />
        <div class="card-body text-center">
          <h5 class="card-title">Manage Publishers</h5>
          <p class="card-text">Edit or delete publishers</p>
        </div>
      </div>
    </div>
  </div>
</div>
