<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-md-3">
      <div class="my-5">
        <app-category-sidebar (categoryClick)="onCategoryClick($event)"></app-category-sidebar>
      </div>

      <hr class="hr ">

      <div class="my-5">
        <h5 class="text-center">Authors in {{currentCategory}}</h5>
        <app-sidebar (itemClick)="onAuthorItemClick($event)" (loadMore)="onLoadMoreAuthorsClick()"
                     [allItemsLoaded]="allAuthorsLoaded" *ngIf="authors" [loading]="authorsLoading"
                     [items]="authors"></app-sidebar>
      </div>

      <hr class="hr ">

      <div class="my-5">
        <h5 class="text-center">Publishers in {{currentCategory}}</h5>
        <app-sidebar (itemClick)="onPublisherItemClick($event)" (loadMore)="onLoadMorePublishersClick()"
                     [allItemsLoaded]="allPublishersLoaded" *ngIf="publishers" [loading]="publishersLoading"
                     [items]="publishers"></app-sidebar>
      </div>

      <hr class="hr ">

    </div>
    <div class="col-md-9">
      <p class="display-6">Books in {{currentCategory}}</p>
      <div [ngClass]="{'loader': booksLoading}"></div>

      <ng-container *ngIf="books">
        <p *ngIf="!books.items.length" class="h3 fw-light">No Books Found...</p>

        <ng-container *ngFor="let book of books.items">
          <app-book-card [book]="book"></app-book-card>
        </ng-container>

      </ng-container>


      <app-book-card></app-book-card>
      <app-book-card></app-book-card>


    </div>


  </div>
  <ng-container *ngIf="books">
    <div>
      <mat-paginator
        (page)="onBookPageChange($event)"
        [length]="books.count"
        [pageSizeOptions]="[5, 10, 25, 100]"
        [pageSize]="books.pageSize"
        [pageIndex]="books.currentPage - 1"
        aria-label="Select page"
        class="mat-paginator"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </ng-container>
</div>
