<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-md-3">
      <div class="my-5">
        <app-category-sidebar (categoryClick)="onCategoryClick($event)"></app-category-sidebar>
      </div>

      <hr class="hr ">

      <div class="my-5">
        <h5 class="text-center">Authors</h5>
        <div [ngClass]="{'loader-small': authorsLoading}"></div>
        <app-sidebar (loadMore)="onLoadMoreAuthorsClick()" [allItemsLoaded]="allAuthorsLoaded" *ngIf="authors"
                     [items]="authors"></app-sidebar>
      </div>
    </div>
    <div class="col-md-9">
      <div [ngClass]="{'loader': booksLoading}"></div>

      <ng-container *ngIf="books">
        <ng-container *ngFor="let book of books.items">
          <app-book-card [book]="book"></app-book-card>
        </ng-container>
      </ng-container>


      <app-book-card></app-book-card>
      <app-book-card></app-book-card>


    </div>


  </div>
  <ng-container *ngIf="books">
    <div>
      <mat-paginator
        [length]="books.count"
        [pageSizeOptions]="[5, 10, 25, 100]"
        [pageSize]="books.pageSize"
        aria-label="Select page"
        class="mat-paginator"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </ng-container>
</div>
