<div class="sidebar border border-3">
  <ul class="mx-2 list-group list-group-light">
    <li *ngFor="let item of items" class="list-group-item">
      <input (click)="itemClick.emit(item.id)" mdbCheckbox class="form-check-input me-1" type="checkbox" value=""
             aria-label="..."/>
      {{item.name}}
    </li>
  </ul>
  <p *ngIf="items.length" class="text-center">
    <button class="btn btn-link text-center" role="button" [disabled]="allItemsLoaded" (click)="onLoadMoreClicked()"
            data-ripple-color="dark">Load
      More
    </button>
  </p>
</div>
