<div class="d-flex justify-content-center align-items-center">
  <div class="text-center">
    <div class="inp">
      <app-input [formControl]="$any(authorForm.controls['name'])" inputType="text"
                 label="Author's Full Name"></app-input>
    </div>
    <div class="inp">
      <app-input [formControl]="$any(authorForm.controls['bio'])" inputType="textarea" label="Author's Bio"></app-input>
    </div>

    <button (click)="onSubmit()" class="btn btn-dark btn-block my-4 mb-5" type="submit">
      Submit
    </button>
  </div>
</div>
