<div class="container my-5 px-5">
  <div *ngIf="!cartItems.length" class="row d-flex justify-content-center">
    <p class="text-center display-4">Add item to cart to checkout</p>
  </div>
  <div *ngIf="cartItems.length" class="row d-flex justify-content-center">
    <div class="col-lg-6 col-md-12 mb-5">
      <div *ngIf="currentUserDetail" class="card border border-success shadow-3 mb-2" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-success">Address <i class="fas fa-check fa-lg mx-2"></i></div>
        <div class="card-body ">
          <h5 class="card-title">{{currentUserDetail.firstName}} {{currentUserDetail.lastName}}</h5>
          <p class="card-text mb-0">{{currentUserDetail.addresses[0].street}}</p>
          <p class="card-text">{{currentUserDetail.addresses[0].province}}, {{currentUserDetail.addresses[0].city}}
            - {{currentUserDetail.addresses[0].zipCode}}</p>
        </div>
      </div>
      <button class="ms-1   btn btn-dark btn-lg">Add New Address</button>

    </div>
    <div class="col-lg-6 col-md-12">
      <div [ngClass]="{'loader': loading}"></div>
      <div class="card text-center shadow-3">
        <!--        <h5 class="card-header ">Order Summary</h5>-->
        <app-order-summary></app-order-summary>


      </div>

      <div class="d-flex flex-row-reverse">
        <button (click)="onPlaceOrderClick()" class="me-2  my-2 btn btn-dark btn-lg">Place Order</button>
      </div>


    </div>
  </div>
</div>
