<div class="card-body">

  <div class="card-header row justify-content-around card-text">
    <div class="col-6 h5">
      Book
    </div>
    <div class="col-3 h5 text-center">
      Unit Price
    </div>
    <div class="col-3 h5 text-center">
      Total
    </div>
  </div>

</div>
<div class="row justify-content-end mb-4 card-text">

  <div *ngFor="let item of cartItems" class="row justify-content-end mb-4 card-text">
    <div class="col-6">
      {{item.name}} - ({{item.type}}) <span class="fw-bold">x {{item.quantity}}</span>
    </div>
    <div class="col-3">
      BDT {{ item.unitPrice }} <span class="fw-bold">x {{item.quantity}}</span>
    </div>
    <div class="col-3">
      BDT {{ item.unitPrice * item.quantity }}
    </div>
  </div>
</div>

<div class="row justify-content-end card-text card-footer">
  <div class="col-6 h5">
    Total
  </div>
  <div class="col-6 h5">
    BDT {{ cartService.getCartTotal() }}
  </div>
</div>
