<!-- Navbar-->
<nav class="navbar navbar-dark bg-dark navbar-expand-lg mb-3">
  <div class="container-fluid justify-content-between">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- Brand -->
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center" routerLink="">
        BookStore
      </a>
    </div>
    <!-- Left elements -->

    <!-- Center elements -->
    <form class="input-group w-auto my-auto d-none d-sm-flex">
      <input
        autocomplete="off"
        class="form-control"
        placeholder="Search"
        style="min-width: 625px"
        type="search"
      />

      <button
        class="bg-light input-group-text border-0 d-none d-lg-flex"
        data-mdb-ripple-color="dark"
        type="button"
      >
        <i class="fas fa-search"></i>
      </button>
    </form>
    <!-- Center elements -->

    <!-- Right elements -->


    <ul class="navbar-nav flex-row">
      <ng-container *ngIf="!user">
        <div class="dropdown me-3" mdbDropdown>
          <button
            aria-expanded="false"
            class="btn btn-outline-secondary text-white dropdown-toggle"
            id="dropdownMenuButton2"
            mdbDropdownToggle
            type="button"
          >
            <i class="fas fa-user me-2"></i> Guest
          </button>

          <ul
            aria-labelledby="dropdownMenuButton2"
            class="dropdown-menu dropdown-menu-light"
            mdbDropdownMenu
          >
            <li><a class="dropdown-item" routerLink="auth">Login</a></li>
            <li><a class="dropdown-item" routerLink="auth/register">Register</a></li>
          </ul>
        </div>
      </ng-container>

      <ng-container *ngIf="user">
        <div class="dropdown me-3" mdbDropdown>
          <button
            aria-expanded="false"
            class="btn btn-outline-secondary text-white dropdown-toggle"
            id="dropdownMenuButton2"
            mdbDropdownToggle
            type="button"
          >
            <i class="fas fa-user me-2"></i> {{ user.userName }}
          </button>

          <ul
            aria-labelledby="dropdownMenuButton2"
            class="dropdown-menu dropdown-menu-light"
            mdbDropdownMenu
          >

            <ng-container *ngIf="user && user.role == 'User'">
              <li><a class="dropdown-item" href="#">Your Profile</a></li>
              <li><a class="dropdown-item" href="#">Your Orders</a></li>
            </ng-container>


            <ng-container *ngIf="user && user.role == 'Admin'">
              <li><a class="dropdown-item" routerLink="admin">Admin Dashboard</a></li>
            </ng-container>

            <li>
              <hr class="dropdown-divider"/>
            </li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </div>
      </ng-container>

      <li class="nav-item me-5 me-lg-0">
        <a class="nav-link" href="#">
          <!-- <span class="badge badge-pill bg-danger">1</span> -->
          <span><i class="fas fa-shopping-cart fa-lg"></i></span>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        </a>
      </li>
    </ul>
    <!-- Right elements -->
  </div>
</nav>
<!-- Navbar -->
