<p class="h3">Categories <span class="fs-4 text-muted fw-normal "> | 11 out of 42</span></p>
<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
  <tr>
    <th class="text-center">Id</th>
    <th class="text-center">Name</th>
    <th class="text-center">Actions</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="categories">
    <tr *ngFor="let item of categories.items">
      <ng-container *ngIf="(edit.editMode && edit.id == item.id); else elseBlock">
        <td class="text-center">
          <p class="fw-normal mb-1 ">Update Category Id - {{ item.id }}</p>
        </td >

        <td class="text-center">
          <app-input [formControl]="newCategoryName" label="New Category Name"></app-input>
        </td>

        <td class="text-center">
          <button (click)="updateCategory(item.id)" type="button" class="btn btn-link btn-sm btn-rounded">
            Update
          </button>
          <button (click)="edit.editMode = false" type="button" class="btn btn-link btn-sm btn-rounded text-danger">
            Cancel
          </button>
        </td>
      </ng-container>

      <ng-template #elseBlock>
        <td class="text-center">
          <p class="fw-normal mb-1 ">{{ item.id }}</p>
        </td >

        <td class="text-center">
          <p class="fw-normal mb-1 ">{{ item.name }}</p>
        </td>

        <td class="text-center">
          <button type="button" class="btn btn-link btn-sm btn-rounded">
            View SubCategories
          </button>
          <button (click)="editCategory(item.id)" type="button" class="btn btn-link btn-sm btn-rounded">
            Edit
          </button>
          <button type="button" class="btn btn-link btn-sm btn-rounded text-danger">
            Delete
          </button>
        </td>
      </ng-template>
    </tr>
  </ng-container>
  </tbody>
</table>
<hr class="hr hr-blurry" />

<div class="container text-center mx-5">
  <div class="row text-center" *ngIf="create.createMode" >
    <div class="col-8">
      <mdb-form-control>
        <input mdbInput type="text" id="form2" class="form-control" />
        <label mdbLabel class="form-label" for="form2">Category Name</label>
      </mdb-form-control>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-link  btn-rounded">
        Create Category
      </button>
      <button type="button" class="btn btn-link  btn-rounded text-danger" (click)="create.createMode = false">
        Cancel
      </button>
    </div>
  </div>

  <button type="button" class="btn btn-link  btn-rounded" *ngIf="!create.createMode" (click)="openNewCategoryForm()">
    Add New Category
  </button>
</div>

<hr class="hr hr-blurry" />

<div class="d-flex justify-content-center align-items-center">
  <div class="my-3">
    <nav aria-label="...">
      <ul class="pagination pagination-circle">
        <li class="page-item">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="#">2 <span class="visually-hidden">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>


