<mdb-form-control>
  <input
    mdbValidate
    mdbInput
    type={{type}}
    id={{label}}
    class="form-control"
    [formControl]="control"
  />
  <label mdbLabel class="form-label" for={{label}}>{{label}}</label>
  <mdb-error *ngIf="control.errors?.['required'] && (control?.dirty || control?.touched)">
    {{label}} is required
  </mdb-error>

  <mdb-error *ngIf="control.errors?.['minlength'] && (control?.dirty || control?.touched)">
    {{label}} must be at least {{control.errors?.['minlength'].requiredLength}} characters
  </mdb-error>

  <mdb-error *ngIf="control.errors?.['maxlength'] && (control?.dirty || control?.touched)">
    {{label}} can be at most {{control.errors?.['maxlength'].requiredLength}} characters
  </mdb-error>

  <mdb-error *ngIf="control.errors?.['notMatching'] && (control?.dirty || control?.touched)">
    Passwords do not match
  </mdb-error>

  <mdb-error *ngIf="control.errors?.['categoryNameTaken'] && (control?.dirty || control?.touched)">
    Category Name is Already in use
  </mdb-error>

</mdb-form-control>
