<div class="container my-4 py-1">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 mb-4">
      <div>
        <ngx-gallery [images]="galleryImages" [options]="galleryOptions" class="ngx-gallery"></ngx-gallery>
      </div>
    </div>

    <div class="ps-2 col-lg-8 col-md-12 col-sm-12">
      <section class="mb-3">
        <h1 class="h2">The Alchemist, 25th Anniversary: A Fable About Following Your Dream</h1>
        <p class=" mx-3 mb-2 text-muted"><span class="mx-1"> - by <span
          class="link">Paulo Coelho</span> (Author)</span>
          |
          <span
            class="mx-1">Published: Apr 15, 2014</span></p>
      </section>

      <section class="mb-5">
        <div class="mb-3 mx-1">
          <span class="me-2">3.67</span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>

          <span class="mx-1 ms-2">-</span>
          <span class="mx-1"><span class="link me-1">139,489</span> <span class="text-muted">(Ratings)</span></span>
        </div>
      </section>

      <section class="mb-3">
        <div class="row ms-1">
          <div class="col-md-4 me-3 card border border-dark mb-3" style="max-width: 15rem;">
            <div class="card-header"><h6 class="fw-normal">Paperback Price</h6></div>
            <div class="card-body text-dark">
              <h5 class="card-title">BDT 1,080</h5>
              <p class="card-text">Quantity in Stock: 29</p>
            </div>
          </div>

          <div class="col-md-4 card border border-dark mb-3" style="max-width: 15rem;">
            <div class="card-header"><h6 class="fw-normal">Hardcover Price</h6></div>
            <div class="card-body text-dark">
              <h5 class="card-title">BDT 1,530</h5>
              <p class="card-text">Quantity in Stock: 3</p>
            </div>
          </div>

        </div>
      </section>

      <section class="ms-2 mb-5">
        <div class="dropdown" mdbDropdown>
          <button
            aria-expanded="false"
            class="btn btn-dark dropdown-toggle btn-lg"
            id="dropdownMenuButton"
            mdbDropdownToggle
            type="button"
          >
            <i class="fas fa-book me-2"></i>
            Add to Cart
          </button>
          <ul aria-labelledby="dropdownMenuButton" class="dropdown-menu" mdbDropdownMenu>
            <li>
              <button class="dropdown-item" type="button">Paperback</button>
            </li>
            <li>
              <button class="dropdown-item" type="button">Hardcover</button>
            </li>
          </ul>
        </div>
      </section>


      <section>
        <h6>Book Description:</h6>
        <p class="">A special 25th anniversary edition of the extraordinary international bestseller, including a new
          Foreword by
          Paulo Coelho.
        </p>

        <p>Combining magic, mysticism, wisdom and wonder into an inspiring tale of self-discovery, The Alchemist has
          become a modern classic, selling millions of copies around the world and transforming the lives of countless
          readers across generations.</p>
        <p>Paulo Coelho's masterpiece tells the mystical story of Santiago, an Andalusian shepherd boy who yearns to
          travel in search of a worldly treasure. His quest will lead him to riches far different—and far more
          satisfying—than he ever imagined. Santiago's journey teaches us about the essential wisdom of listening to our
          hearts, of recognizing opportunity and learning to read the omens strewn along life's path, and, most
          importantly, to follow our dreams.</p>
      </section>

      <section>
        <hr class="hr">

        <div class="mx-5 row mb-0">

          <div class="col " style="max-width: 10rem;">
            <p class="mb-0 text-center">
              Print Length
            </p>
            <div class="text-center">
              <i class="far fa-file fa-2x"></i>
            </div>
            <p class="fw-bold text-center">170 Pages</p>
          </div>

          <div class="col" style="max-width: 10rem;">
            <p class="mb-0 text-center">
              Language
            </p>
            <div class="text-center">
              <i class="fas fa-globe fa-2x"></i>
            </div>
            <p class="fw-bold text-center">English</p>
          </div>

          <div class="col" style="max-width: 10rem;">
            <p class="mb-0 text-center">
              Publisher
            </p>
            <div class="text-center">
              <i class="far fa-building fa-2x"></i>
            </div>
            <p class="fw-bold text-center">Avery</p>
          </div>

          <div class="col" style="max-width: 10rem;">
            <p class="mb-0 text-center">
              ISBN-13
            </p>
            <div class="text-center">
              <i class="fas fa-barcode fa-2x"></i>
            </div>
            <p class="fw-bold text-center">978-0062315007
            </p>
          </div>
        </div>
        <hr class="hr">

      </section>


    </div>

  </div>
</div>
