<div class="container my-4 py-1">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 mb-4">
      <div>
        <ngx-gallery [images]="galleryImages" [options]="galleryOptions" class="ngx-gallery"></ngx-gallery>
      </div>
    </div>

    <div class="col-lg-8 col-md-12 col-sm-12">
      <h1 class="h2">The Alchemist, 25th Anniversary: A Fable About Following Your Dream</h1>
      <p class=" mx-3 mb-2 text-muted"><span class="mx-1"> - by <span
        class="text-decoration-underline" style="color: #40516b; cursor: pointer">Paulo Coelho</span> (Author)</span> |
        <span
          class="mx-1">Published: Apr 15, 2014</span></p>
    </div>

  </div>
</div>
