<div class="container">
  <div class="text-center mb-3 text-dark" style="background: #f3f2e7">
    <h2 class="display-3">Welcome to BookStore</h2>
  </div>

  <hr class="hr hr-blurry"/>

  <div class="image-container mb-3" routerLink="books">
    <img
      alt="Snow"
      src="https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
      style="height: 500px"
    />
    <h2 class="centered display-4">Best books of June</h2>
  </div>

  <hr class="hr hr-blurry"/>
  <hr class="hr hr-blurry"/>

  <div class="row">
    <div class="col-md-7 image-container mb-3">
      <img
        alt="Snow"
        src="https://images.unsplash.com/photo-1485322551133-3a4c27a9d925?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
        style="height: 400px"
      />
      <p class="display-6 top-left">Best books of 2023</p>
    </div>

    <div class="col-md-5 mb-3 image-container">
      <img
        alt="Snow"
        src="https://images.unsplash.com/photo-1473755504818-b72b6dfdc226?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80"
        style="height: 400px"
      />
      <p class="display-6 top-right">Top Categories</p>
    </div>
  </div>

  <hr class="hr hr-blurry"/>
  <hr class="hr hr-blurry"/>

  <div class="d-flex justify-content-center align-items-center">
    <div class="text-center">
      <h5 class="mb-1">
        Thank you for using our product. We're glad you're with us.
      </h5>
      <p class="mb-3">BookStore Team</p>
      <a class="btn btn-dark btn-lg" role="button" target="_blank">Shop now</a>


    </div>
  </div>


  <hr class="hr hr-blurry"/>

</div>
